[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
validators = "*"
click = "*"
trafaret = "*"
trafaret-config = "*"
docker ="*"

[dev-packages]

[requires]
python_version = "3"
