[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
GitPython = "*"
trafaret = "*"
trafaret-config = "*"
validators = "*"
cdktf = "*"

[dev-packages]

[requires]
python_version = "3"
