[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
GitPython = "*"
docker = "*"
validators = "*"
cdktf = "*"
cdktf-cdktf-provider-google = "*"
python-slugify = "*"
marshmallow-dataclass = "*"
marshmallow-enum = "*"
yaspin = "*"
pylint-gitlab = "*"
pylint-enums = "*"
cdktf-cdktf-provider-azurerm = "*"
cdktf-cdktf-provider-kubernetes = "*"
pyyaml = "*"
pynacl = "*"

[dev-packages]
mypy = "*"
coverage = "*"
pylint = "*"

[requires]
python_version = "3"
